<div class="container">
  <h1 class="custom-margin">Workout List</h1>
  <div class="cards">
    <% @workouts.each do |workout| %>
      <%= render 'shared/workout_card', workout: workout %>
    <% end %>
  </div>
</div>


<div class="fab-container">
  <%= link_to new_workout_path, class: 'fab' do %>
    <i class="fas fa-plus"></i> <!-- Font Awesome icon -->
  <% end %>
</div>
