// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";






// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.custom-margin{
  margin-top: 40px;
  color: white;
}

body {
  background-color: white;
  color:white
}

h1 {
  color: white
}

.exercise-sets-grid {
  color: white;
}

span {
  color: white
}

.custom-margin2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

tr {
  color: white
}
