<div class="container">
  <h1 class="custom-margin">History</h1>
  <%= form_with url: root_path, method: :get, class: "d-flex align-items-center gap-2 mt-3", style: "width: 200px;" do %>
    <h6><i class="fa-solid fa-magnifying-glass text-white"></i></h6>
    <%= text_field_tag :query, params[:query], class: "form-control rounded-pill", placeholder: "Search by exercise or workout", style: "background-color: white;" %>
    <%= submit_tag "Search", name: "", class: "btn-cool" %>
  <% end %>
  <h2 class="mt-5">August</h2>
  <div class="cards">
    <% @workout_sessions.first(5).each do |workout_session| %>
      <%= render 'shared/workout_session_card', workout_session: workout_session %>
    <% end %>
  </div>
</div>
