<div class="container">
  <h1 class="custom-margin">
    <%= @workout_session.workout.name %> - <%= @workout_session.start_time.strftime("%b %d, %Y") %>
  </h1>
  <% @exercises.each_with_index do |exercise, index| %>
    <%= render 'shared/exercise_done', exercise: exercise, index_exercise: index, workout_session: @workout_session %>
  <% end %>
</div>
