<div>
  <%= simple_form_for([exercise, set], html: {data: { record_video_target:"form", action: 'submit->record_video#save'}}) do |f| %>
    <div class="custom-set-form">
      <%= f.input :reps, label: false, input_html: {class: 'set-value', id: 'sets-form'} %>
      <%= f.input :workout_session_id, as: :hidden, input_html: { value: workout_session.id} %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
