<%= link_to compare_exercise_path(exercise) do %>
  <div class="card-product">
    <div class="card-product-infos">
      <h2 class="exercise-title"><%= exercise.name %></h2>
      <p><%= exercise.category %></p>
    </div>
  </div>
<% end %>
