
<ul class="navbar-custom navbar-bottom">
  <li><%= link_to "Home", "#home" %></li>
  <li><%= link_to "News", "#news" %></li>
  <li><%= link_to "Contact", "#contact" %></li>
  <li><%= link_to "About", "#about" %></li>
</ul>
