<ul class="navbar-custom navbar-bottom">
  <li><%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %></li>
  <li><%= link_to dashboard_path do %>
    <i class="fas fa-tachometer-alt"></i>
  <% end %></li>
  <li><%= link_to workout_sessions_path do %>
    <i class="fas fa-history"></i>
  <% end %></li>
  <li><%= link_to exercises_path do %>
    <i class="fas fa-balance-scale"></i>
  <% end %></li>
</ul>
