<div>
  <div class="step-progress">
    <% exercises.each_with_index do |exercise, i| %>
      <% exercise_num = i + 1 %>
      <% if exercise.completed? %>
        <div class="bullet-completed"><%= exercise_num %></div>
      <% else %>
        <div class="bullet step step-name"><%= exercise_num %></div>
      <% end %>
    <% end %>
  </div>
</div>
