<div class="card-product">
  <div class="card-product-infos">
    <h2><%= workout.name %></h2>
    <p><%= workout.category %></p>
  </div>
  <%= simple_form_for([workout, @workout_sess]) do |f| %>
  <div class="button-container">
    <%=  f.submit 'Start', class: 'btn-sporty' %>
  </div>
  <% end %>
</div>
