<div class="content-wrapper">
  <div class="video-background">
  <h1 class="main-title">Form</h1>
    <%= video_tag('handstand.mp4', autoplay: true, loop: true, muted: true, id: 'background-video') %>
    <div class="overlay-content">
      <!-- Your content here -->
      <h1>Transform Your Body with Calisthenics</h1>
      <p>Track, Log, and Improve Your Routine</p>
      <a href="#" class="cta-button">Get Started</a>
    </div>
  </div>
</div>
