.card-products {
  overflow: hidden;
  height: 90px;
  // background: #2e2e2e;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}

.card-products img {
  height: 100%;
  width: 90px;
  object-fit: cover;
  border-radius: 25%;
}

.card-products h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white
}

.card-products p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-products .card-product-infos {
  flex-grow: 1;
  padding: 16px;
}

.cards {
  margin-top: 30px
}

.card-product {
  overflow: hidden;
  height: 90px;
  background: #2e2e2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3); /* Cool shadow effect */
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 90px;
  object-fit: cover;
  border-radius: 25%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-product .card-product-infos {
  flex-grow: 1;
  padding: 16px;
}

.cards {
  margin-top: 30px
}

.compare-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.compare-container h1 {
  margin: 2rem 0;
}

.compare-display-card {
  background: linear-gradient(180deg, black, transparent);
  padding-top: 8px;
  padding-left: 8px;
  width: 100%;
  display: flex;
  position: absolute;
  font-size: 20px;
  color: white;
  justify-content: space-between;
  border-radius: 24px;
}
.date-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Select Elements */
.date-select select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  appearance: none; /* Removes default arrow for better custom styling */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.date-select select:focus {
  border-color: #007bff; /* Blue border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Blue glow on focus */
  outline: none;
}

/* Submit Button */
.date-select button {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: $orange; /* Blue button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.date-select button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.date-select button:active {
  background-color: #003d80; /* Even darker blue on click */
  transform: translateY(0); /* Reset lift on click */
}

/* Responsive Design */
@media (max-width: 768px) {
  .date-select {
    padding: 15px;
  }

  .date-select select, .date-select button {
    font-size: 14px;
  }
}

.compare-display-card .sets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3px;
}

.compare-display-card-parent {
  position: relative;
}

.exercise-sets-card {
  background-color:  #2e2e2e;
  border-radius: 16px;
  border: solid;
  border-color: rgb(187, 187, 187);
  border-width: 0.25px;
  padding: 25px 12px 12px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  align-items: center;
}

.exercise-sets-card h6{
  font-size: 16px;
  color: white;
}

.exercise-name {
  width: 250px;
}

.exercise-info {
  font-size: 20px;
}

.exercise-card-items {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  align-items: space-between;
  flex-grow: 1;
  background-color:  #2e2e2e;
  .div-left {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    text-align: left;
    padding-right: 16px;
    .set {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      width: 230px;
      margin-top: 80px;
      // align-items: center;
    }
  }
  .div-right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}

.progress-note {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  h2 {
    font-size: 40px;
    color: #ff5722;
  }
  h4 {
    font-size: 20px;
  }
}


.exercise-sets-card .total-set-count {
  background-color: rgb(191, 191, 191);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
  margin-left: 10px;
  width: 50px;
}

/* Basic styles */
.collapsible {
  width: 300px;
  margin: 0 auto;
}

.collapsible-button {
  width: 100%;
  padding: 25px;
  border-radius: 16px;
  background-color: #2e2e2e;
  color: white;
  border: solid;
  border-color: rgb(187, 187, 187);
  border-width: 0.225px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  cursor: pointer;
  // text-align: left;
  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    text-align: left;
    .in-progress {
      display: none;
    }
  }
  h2 {
    margin-bottom: 0;
  }
  h6 {
    margin-bottom: 0;
  }

  &:has(.collapsible-content.open) {
    .exercise-name {
      display: none;
    }
    .in-progress {
      display: block;
      color: #ff5722;
    }
  }
}


.collapsible-button:focus {
  // outline: none;
  border-color: #ff5722;
  border-width: 2px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-color: #ff5722;
  // padding: 0 10px;
}

.collapsible-content.open {
  max-height: 500px; /* Set a max height to the expected maximum content height */
  border-color: #ff5722;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

// .exercise-sets-grid {
//   display: grid;
//   grid-template-areas:
//     "main main item1 item2"
//     "main main item3 item4";
//   gap: 10px;
//   height: 100%;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   border-radius: 16px;
// }

.set-highlite {
  color: #60ff60;
  font-weight: bold;
}


// color coding by type
.pre {
  background-color: #a2ff9e;
  border-radius: 20px;
  height: 40px;
}

.a {
  background-color: #ffef94;
  border-radius: 20px;
  height: 40px;
}

.b {
  background-color: #ff9f8a;
  border-radius: 20px;
  height: 40px;
}

.c {
  background-color: #cb9bff;
  border-radius: 20px;
  height: 40px;
}
