.card-product {
  overflow: hidden;
  height: 70px;
  background: #2e2e2e;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 90px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-product .card-product-infos {
  flex-grow: 1;
  padding: 16px;
}

.cards {
  margin-top: 30px
}


// exercise sets card
.exercise-sets-card {
  background-color:  #2e2e2e;
  // border-radius: 16px;
  // border: solid;
  // border-color: rgb(187, 187, 187);
  // border-width: 0.25px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
}

.exercise-sets-card h6{
  font-size: 16px;
  color: white;
}

.exercise-sets-card .exercise-name {
  width: 150px;
}

.exercise-sets-card .exercise-info {
  font-size: 20px;
}

.exercise-sets-card .sets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3px;
  flex-grow: 1;
}

.exercise-sets-card .set {
  display: flex;
  align-items: center;
  margin-left: 3px;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 200px;
}

.exercise-sets-card .total-set-count {
  background-color: rgb(191, 191, 191);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
  margin-left: 10px;
  width: 50px;
}

/* Basic styles */
.collapsible {
  width: 300px;
  margin: 0 auto;
}

.collapsible-button {
  width: 100%;
  padding: 25px;
  border-radius: 16px;
  background-color: #2e2e2e;
  color: white;
  border: solid;
  border-color: rgb(187, 187, 187);
  border-width: 0.225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: left;
}

.collapsible-button:focus {
  outline: none;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f1f1f1;
  border-color:  rgb(46, 139, 87);
  // padding: 0 10px;
}

.collapsible-content.open {
  max-height: 500px; /* Set a max height to the expected maximum content height */
  border-color: rgb(46, 139, 87);
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

// .exercise-sets-grid {
//   display: grid;
//   grid-template-areas:
//     "main main item1 item2"
//     "main main item3 item4";
//   gap: 10px;
//   height: 100%;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   border-radius: 16px;
// }

.set-highlite {
  color: #60ff60;
}
