.card-product {
  overflow: hidden;
  height: 70px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.card-product img {
  height: 100%;
  width: 90px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


// exercise sets card
.exercise-sets-card {
  background-color: rgb(200, 211, 230);
  border-radius: 16px;
  border: solid;
  border-color: rgb(151, 151, 151);
}

// .exercise-sets-grid {
//   display: grid;
//   grid-template-areas:
//     "main main item1 item2"
//     "main main item3 item4";
//   gap: 10px;
//   height: 100%;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   border-radius: 16px;
// }
