.fab-container {
  position: fixed;
  bottom: 100px;
  right: 20px;
}

.fab {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px; /* Increased size */
  height: 70px; /* Increased size */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  font-size: 28px; /* Increased icon size */
}

.fab:hover {
  background-color: #0056b3;
}

.fab i {
  font-size: 32px; /* Increased icon size for better visibility */
}
