.step-progress {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.step {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 30%;
  position: relative;
  text-align: center;
}

.bullet {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.bullet-completed {
  width: 30px;
  height: 30px;
  background-color: #ff9500;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
