// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#content {
  margin-bottom: 120px;
}

body {
  color: white;

}

/* Example for small screens */
@media (max-width: 768px) {
  /* Styles for mobile view */
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

/* Larger screen styles */
@media (min-width: 769px) {
  .menu {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}
