<div>
  <h1><%= @exercise.name %></h1>


       <%= @exercise.exercise_sets.each do |exercise_set| %>
        <% unless exercise_set.video.key.nil? %>
        <%= cl_video_tag exercise_set.video.key, resource_type: 'raw', controls: true %>
        <% end %>
      <% end %>

</div>
